nav{
    background-color: rgba(0, 0, 0, 0.838);
    align-items: flex-end;
    display: flex;
    min-width: 1420px;
    position: fixed;
    top: 0;
    z-index: 3;
}
.header-text{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 24px;
    margin-bottom: 0.5px;
    margin-left: 555px;
    width: 541px;
}
.logo1{
    width: 23%;
    padding: 1%;
    text-align: center;
}
h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 64px;
    left: 753px;
    position: absolute;
    text-align: center;
    top: 349px;
    z-index: 1;
}
h2{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 44px;
    left: 944px;
    position: absolute;
    text-align: center;
    top: 450px;
    z-index: 1;
}
h3{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    left: 970px;
    position: absolute;
    text-align: center;
    top: 520px;
    z-index: 1;   
}
.button {
    height: 43px;
    margin-left: 625px;
    margin-top: 40px;
    width: 160px;
    z-index: 1;
  }
h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    display: flex;
    text-align: center;
    justify-content: center;
  }
h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    z-index: 3;
}
.skillsinfo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
}
.work {
    background-color: black;
    margin-top: 100px;
    width: max-content;
}
h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: xx-large;
}
h7 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #C69F38;
    font-size: larger;
}
.Info1 {
    position: absolute;
    width: 519px;
    height: 300px;
    margin-top: -550px;
    margin-left: 200px;
}
.Info2 {
    position: absolute;
    text-align: right;
    width: 519px;
    height: 300px;
    margin-top: -550px;
    margin-left: 700px;
}
.Info3 {
    position: absolute;
    width: 519px;
    height: 300px;
    margin-top: -550px;
    margin-left: 200px;
}
.Info4 {
    position: absolute;
    text-align: right;
    width: 519px;
    height: 300px;
    margin-top: -550px;
    margin-left: 700px;
}
h8 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    display: flex;
    text-align: center;
    justify-content: center;
}
footer{
    background-color: black;
    align-items: center;
}
.inline-block{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        flex-direction: column;
    }
  }